.title {
    font-size: 23px;
    font-weight: 700;
    text-align: center;
    width: 100%;
    display: block;
    line-height: 60px;
}

.daily-item {
    background-color: #053806;
    border-radius: 15px;
    height: 40px;
    width: 500px;
    margin: 5px auto 0 auto;
    align-items: center;
    display: flex;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 30px;
    box-shadow: 10px -2px 20px 2px rgb(0, 0, 0/ 30%);
}

.icon-small {
    width: 40px;
}

.day {
    color: #ffffff;
    flex: 1;
    font-weight: 600;
    margin-left: 15px;
}

.description {
    flex: 1 1;
    margin-right: 15px;
    text-align: right;
}

.min-max {
    color: #f8e7e7;
}

.daily-details-grid {
    grid-row-gap: 0;
    grid-column-gap: 5px;
    row-gap: 0;
    column-gap: 15px;
    display: grid;
    flex: 1 1;
    grid-template-columns: auto auto;
    padding: 5px 15px;
    font-size: 15px;
    background-color: #9baa98;
    border-radius: 15px;
    padding: 10px 30px;
    width: 500px;
    margin: 5px auto 0 auto;
    box-shadow: 10px -2px 20px 2px rgb(0, 0, 0/ 30%);
}

.daily-details-grid-item {
    align-items: center;
    display: flex;
    height: 30px;
    justify-content: space-between;
}

.daily-details-grid-item label:first-child {
    color: #fcf1f1;
}

.daily-details-grid-item label:last-child {
    color: #e8fde6;
}
